<div class="blockinner">

    <div class="content">
      <!-- <table width="100%" style="margin: 0px;"><tbody style="border:none;"><tr><td align="left"> -->
      <a href="/a/all">[Все]</a>
      <a href="/Aa">[А]</a>
      <a href="/Bb">[Б]</a>
      <a href="/V">[В]</a>
      <a href="/Gg">[Г]</a>
      <a href="/D">[Д]</a>
      <a href="/E">[Е]</a>
      <a href="/Zh">[Ж]</a>
      <a href="/Z">[З]</a>
      <a href="/I">[И]</a>
      <a href="/Y">[Й]</a>
      <a href="/K">[К]</a>
      <a href="/L">[Л]</a>
      <a href="/M">[М]</a>
      <a href="/N">[Н]</a>
      <a href="/O">[О]</a>
      <a href="/P">[П]</a>
      <a href="/R">[Р]</a>
      <a href="/Ss">[С]</a>
      <a href="/T">[Т]</a>
      <a href="/U">[У]</a>
      <a href="/F">[Ф]</a>
      <a href="/H">[Х]</a>
      <a href="/Tz">[Ц]</a>
      <a href="/Ch">[Ч]</a>
      <a href="/Sh">[Ш]</a>
      <a href="/Sz">[Щ]</a>
      <a href="/Ee">[Э]</a>
      <a href="/Yu">[Ю]</a>
      <a href="/Ya">[Я]</a>
      <a href="/Other"></td>
    </div>
<!--         <td align="right"></td></tr></tbody></table></div>
 -->
</div>
<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Список книг</h1>
  </div>

  <%# Этот код выводит каждого пользователя в цикле %>
  <% @book.each do |book| %>
      <div class="books-list-item">
        <div class="book-image-div book-image-div-small">
          <%# link_to — генерирует ссылку %>
          <%# Хелпер book_path(book) возвращает относительный путь %>
          <%# страницы пользователя, например /books/1 %>
          <%= link_to book.name, book_path(book) %>
        </div>
      </div>
  <% end %>
</div>

